<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>{{ title }}</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    
    {{ dropzone.load_css() }}
    {{ dropzone.style('border: 2px dashed #0087F7; margin: 10%; min-height: 100px;') }}

    <link rel="stylesheet" href="{{ url_for('static', filename='plugins/bootstrap/css/bootstrap.min.css') }}">
    {# <link rel="stylesheet" href="{{ url_for('static', filename='plugins/dropzone-5.7.0/dist/dropzone.css') }}"> #}

    <script src="{{ url_for('static', filename='plugins/jquery/jquery-3.5.1.js') }}"></script>
    <script src="{{ url_for('static', filename='plugins/bootstrap/js/bootstrap.min.js') }}"></script>  
    {# <script src="{{ url_for('static', filename='plugins/dropzone-5.7.0/dist/dropzone.js') }}"></script>   #}
    

</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-4" style="font-size: 60px">
                <p class="mb-0">
                    <span style="color: chartreuse;" >Txt</span><span style="color: darkblue;">Ext</span>
                    <!--  <figcaption style="font-size: 15px">Extract text from images</figcaption> -->                    
                </p>                   
            </div>
            <div class="col-8">
                
            </div>
        </div>
        <hr style="height:2px;border-width:0;color:darkorange;background-color:darkorange">                                
        <br>
        <div class="container">
            <div class="mx-auto" style="width: 200px;">
                
            </div>      
        </div>
        
    </div>
    <div class="container">
        {# <form action="url_for('extractor.upload')" class="dropzone"  >
            <div class="fallback">
                <input name="file" type="file" multiple />
            </div>
        </form> #}

        {{ dropzone.create(action='extractor.upload') }}
        {{ dropzone.load_js() }}
        {{ dropzone.config(redirect_url=url_for('extractor.upload', foo=bar)) }}
        
        {# You can get the success response from server like this: #}
        {# { dropzone.config(custom_options="success: function(file, response){console.log(response);}") } #}

    </div>
</body>
</html>