<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>{{ title }}</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    
    <link rel="stylesheet" href="{{ 'https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css' }}">	

    <link rel="stylesheet" href="{{ url_for('static', filename='plugins/bootstrap/css/bootstrap.min.css') }}">
    <script src="{{ url_for('static', filename='plugins/jquery/jquery-3.5.1.js') }}"></script>
    <script src="{{ url_for('static', filename='plugins/bootstrap/js/bootstrap.min.js') }}"></script>  

    {{ dropzone_load() }}
    {{ dropzone_style('border: 2px dashed #0087F7; margin: 10%; min-height: 400px;') }}
                

    <!-- <link rel="stylesheet" href="text-extractor/02/static/plugins/bootstrap/css/bootstrap.min.css">
    <script src="text-extractor/02/static/plugins/jquery/jquery-3.5.1.js"></script>
    <script src="text-extractor/02/static/plugins/bootstrap/js/bootstrap.min.js"></script>   -->

</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-4" style="font-size: 60px">
                <p class="mb-0">
                    <span style="color: chartreuse;" >Txt</span><span style="color: darkblue;">Ext</span>
                    <!--  <figcaption style="font-size: 15px">Extract text from images</figcaption> -->                    
                </p>                   
            </div>
            <div class="col-8">
                
            </div>
        </div>
        <hr style="height:2px;border-width:0;color:darkorange;background-color:darkorange">                                
        <br>
        <div class="container">
            <div class="mx-auto" style="width: 200px;">
                <button type="button" class="btn btn-outline-secondary btn-lg"> Upload Image </button>   
                {{ dropzone_create(action_view='index') }} 
            </div>      
        </div>
        
    </div>
    <!-- <div class="container">
        {{ content }}
        <br>
        
        <img src="{{ input_img }}" alt="This is pics"> </img>        

        {{ output }}
    </div> -->
</body>
</html>