<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>{{ title }}</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    
    {{ dropzone.load_css() }}
    {{ dropzone.style('border: 2px dashed #0087F7; margin: 10%; min-height: 100px;') }}

    <link rel="stylesheet" href="{{ url_for('static', filename='plugins/bootstrap/css/bootstrap.min.css') }}">    

    <script src="{{ url_for('static', filename='plugins/jquery/jquery-3.5.1.js') }}"></script>
    <script src="{{ url_for('static', filename='plugins/bootstrap/js/bootstrap.min.js') }}"></script>  
    
    

</head>
<body style="background:grey">
    <div class="container">
        <div class="row">
            <div class="col-4" style="font-size: 60px">
                <p class="mb-0">
                    <span style="color: chartreuse;" >Txt</span><span style="color: darkblue;">Ext</span>
                    <!--  <figcaption style="font-size: 15px">Extract text from images</figcaption> -->                    
                </p>                   
            </div>
            <div class="col-8">
                
            </div>
        </div>
        <hr style="height:2px;border-width:0;color:darkorange;background-color:darkorange">                                
        <br>
        <div class="container">
            <div class="mx-auto" style="width: 200px;">
                {% for message in get_flashed_messages() %}
                    <div class="flash">{{ message }}</div>
                {% endfor %}
            </div>      
        </div>
        
    </div>
    <div class="container">
        {{ dropzone.create(action='upload') }}
        {{ dropzone.load_js() }}
        {{ dropzone.config() }}
    </div>
    <div class="container">
        <img src="{{url_for('static',filename=file_name)}}" alt="Fail">
    </div>
</body>
</html>